<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.show_sql">true</property>
		<property name="format_sql">true</property>
  		<property name="hibernate.hbm2ddl.auto">create</property>
      
      <!-- List of XML mapping files -->
            <!-- List of XML mapping files -->
      	<mapping class="com.emusicstore.pojo.Admin" />
		<mapping class="com.emusicstore.pojo.Roles" />
		<mapping class="com.emusicstore.pojo.Product" />
		<mapping class="com.emusicstore.pojo.Item" />
		<!--  <mapping class="com.emusicstore.pojo.ShoppingCart" />-->
		<mapping class="com.emusicstore.pojo.Order" />
		<mapping class="com.emusicstore.pojo.Customer"/>
		<mapping class="com.emusicstore.pojo.ShippingAddress"/>
      
   </session-factory>
</hibernate-configuration>